<p class="navbar-text pull-right">Logged in as <strong><%= current_user.email %></strong>.
  <h1>All Emails</h1>
  <div class="well">
    <%= link_to 'New Email', new_post_path(current_user:current_user) , remote: true, class: "btn btn-default" ,:id =>
     "new_post" %>
  </div>
  <div class="new-email"></div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sender Email</th>
        <th>Receiver Email</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody class="post-index"> 
     <%= render 'secret' %>
    </tbody>
  </table>
  <div id="post-modal" class="modal fade">
  </div>
</p>



