<% if notice %>
  <div class="text-center">
    <b class="notice"><%= notice %></b>
  </div>
<% end %>
<% if alert %>
  <div class="text-center">
    <b class="alert"><%= alert %></b> 
  </div>
<% end %>